.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Rproj.user/81D966C4/pcs/files-pane.pper
.Rproj.user/81D966C4/pcs/workbench-pane.pper
.Rproj.user/81D966C4/sources/prop/513BB203
.Rproj.user/81D966C4/sources/prop/56EE20C1
.Rproj.user/81D966C4/sources/prop/581F350A
.Rproj.user/81D966C4/sources/prop/CC88D053
.Rproj.user/81D966C4/sources/prop/INDEX
.Rproj.user/81D966C4/sources/session-afa267a8/31B3DBE0
.Rproj.user/81D966C4/sources/session-afa267a8/35A8AB16
.Rproj.user/81D966C4/sources/session-afa267a8/5ECECA48
.Rproj.user/81D966C4/sources/session-afa267a8/B1C10173
.Rproj.user/81D966C4/sources/session-afa267a8/FF2B1F3F
.Rproj.user/81D966C4/sources/session-afa267a8/FF2B1F3F-contents
.Rproj.user/81D966C4/pcs/files-pane.pper
.Rproj.user/81D966C4/pcs/workbench-pane.pper
.Rproj.user/81D966C4/sources/prop/513BB203
.Rproj.user/81D966C4/sources/prop/56EE20C1
.Rproj.user/81D966C4/sources/prop/581F350A
.Rproj.user/81D966C4/sources/prop/CC88D053
.Rproj.user/81D966C4/sources/prop/INDEX
.Rproj.user/81D966C4/sources/session-afa267a8/31B3DBE0
.Rproj.user/81D966C4/sources/session-afa267a8/35A8AB16
.Rproj.user/81D966C4/sources/session-afa267a8/5ECECA48
.Rproj.user/81D966C4/sources/session-afa267a8/B1C10173
.Rproj.user/81D966C4/sources/session-afa267a8/FF2B1F3F
.Rproj.user/81D966C4/sources/session-afa267a8/FF2B1F3F-contents
